NodeRedCodeFile.json
[{"id":"d2232d38.1c9d6","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"c391e214.f18bd","type":"ui_worldmap","z":"d2232d38.1c9d6","group":"524063cf.1d3dec","order":0,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":580,"y":60,"wires":[]},{"id":"ba3cbe6a.a4dfe","type":"inject","z":"d2232d38.1c9d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"name\":\"Vehicle Location\", \"lat\":51.05, \"lon\":-1.35 }","payloadType":"json","x":50,"y":60,"wires":[["c391e214.f18bd"]]},{"id":"8f19403e.f60a7","type":"ui_gauge","z":"d2232d38.1c9d6","name":"","group":"76f1edd7.7498c4","order":0,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"Km/h","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":140,"wires":[]},{"id":"b8d634fb.4b95e8","type":"ui_gauge","z":"d2232d38.1c9d6","name":"","group":"76f1edd7.7498c4","order":0,"width":0,"height":0,"gtype":"gage","title":"Engine Temperature","label":"C","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":200,"wires":[]},{"id":"249d448d.a3203c","type":"ui_slider","z":"d2232d38.1c9d6","name":"","label":"Set Speed","tooltip":"","group":"66ab0ef0.f0734","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":330,"y":340,"wires":[["d3d81176.350a4"]]},{"id":"5134a0b1.9731b","type":"ui_text","z":"d2232d38.1c9d6","group":"76f1edd7.7498c4","order":2,"width":0,"height":0,"name":"","label":"Connection Latency (ms)","format":"{{value}}","layout":"row-spread","x":610,"y":260,"wires":[]},{"id":"3ac5e092.30a5c","type":"ui_button","z":"d2232d38.1c9d6","name":"","group":"66ab0ef0.f0734","order":2,"width":0,"height":0,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":380,"wires":[["d3d81176.350a4"]]},{"id":"2c0d4c11.be8e84","type":"ui_button","z":"d2232d38.1c9d6","name":"","group":"66ab0ef0.f0734","order":2,"width":0,"height":0,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":420,"wires":[["d3d81176.350a4"]]},{"id":"a86e9f23.4ed69","type":"ui_button","z":"d2232d38.1c9d6","name":"","group":"66ab0ef0.f0734","order":5,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":460,"wires":[["d3d81176.350a4"]]},{"id":"973c72bb.36663","type":"firebase in","z":"d2232d38.1c9d6","name":"Speed Data","ref":"/speed","dataAtStart":true,"admin":"6d6cbe07.c3a7c","x":310,"y":140,"wires":[["8f19403e.f60a7"]]},{"id":"98da8820.b5a388","type":"firebase in","z":"d2232d38.1c9d6","name":"Engine Temp","ref":"/Temp","dataAtStart":true,"admin":"6d6cbe07.c3a7c","x":310,"y":200,"wires":[["b8d634fb.4b95e8"]]},{"id":"e6e2f7f4.ff7278","type":"firebase in","z":"d2232d38.1c9d6","name":"Latency","ref":"/S_Value","dataAtStart":true,"admin":"6d6cbe07.c3a7c","x":290,"y":260,"wires":[["5134a0b1.9731b"]]},{"id":"d3d81176.350a4","type":"udp out","z":"d2232d38.1c9d6","name":"","addr":"0.0.0.0","iface":"","port":"400","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":590,"y":400,"wires":[]},{"id":"524063cf.1d3dec","type":"ui_group","z":"","name":"Vehicle Tracking","tab":"86747c50.f9393","order":5,"disp":true,"width":"6","collapse":false},{"id":"76f1edd7.7498c4","type":"ui_group","z":"","name":"Vehile Info","tab":"86747c50.f9393","order":4,"disp":true,"width":"6","collapse":false},{"id":"66ab0ef0.f0734","type":"ui_group","z":"","name":"Vehicle Control","tab":"86747c50.f9393","order":3,"disp":true,"width":"6","collapse":false},{"id":"6d6cbe07.c3a7c","type":"firebase admin","z":"","name":"New"},{"id":"86747c50.f9393","type":"ui_tab","z":"","name":"Robotics Project","icon":"dashboard","disabled":false,"hidden":false}]